<div class="car-form-container">
  <form [style.width.%]="100">
    <div class="form-left">
      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Brand</mat-label>
        <mat-select>
          <mat-option *ngFor="let brand of brands" [value]="brand">{{brand}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Model</mat-label>
        <mat-select>
          <mat-option *ngFor="let model of models" [value]="model">{{model}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select>
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Mechanical conditions</mat-label>
        <mat-select>
          <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Transmission type</mat-label>
        <mat-select>
          <mat-option *ngFor="let transmission of transmissions" [value]="transmission">{{transmission}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Number of seats</mat-label>
        <input matInput type="number" placeholder="Enter the number of seats">
      </mat-form-field>
    </div>

    <div class="form-right">
      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput type="number" placeholder="Enter the year">
      </mat-form-field>

      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Mileage</mat-label>
        <input matInput type="number" placeholder="Enter the mileage of the car">
      </mat-form-field>

      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Value in soles</mat-label>
        <input matInput type="number" placeholder="Enter the value of the car">
      </mat-form-field>

      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Enter the address">
      </mat-form-field>

      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Image URL of the car</mat-label>
        <input matInput placeholder="Enter the image URL of the car">
      </mat-form-field>

      <mat-form-field [style.width.px]=250 appearance="fill">
        <mat-label>Extra information</mat-label>
        <textarea matInput placeholder="Enter extra information"></textarea>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-raised-button color="primary">Add Car</button>
    </div>
  </form>
</div>
