<div class="car-form-container">
  <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
    <div class="form-left">
      <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand">
          <mat-option *ngFor="let brand of brands" [value]="brand">{{ brand }}</mat-option>
        </mat-select>

        <mat-label>Model</mat-label>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Number of seats</mat-label>
        <input matInput type="number" formControlName="seats" placeholder="Enter the number of seats">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" placeholder="Enter the address">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Image URL of the car</mat-label>
        <input matInput formControlName="vehiclePicture" placeholder="Enter the image URL of the car">
      </mat-form-field>
    </div>

    <div class="form-right">
      <mat-form-field appearance="fill">
        <mat-label>Stars</mat-label>
        <input matInput type="number" formControlName="stars" placeholder="Enter the stars">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Features</mat-label>
        <input matInput formControlName="features" placeholder="Enter the features">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" placeholder="Enter the price">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Extra information</mat-label>
        <textarea matInput formControlName="extraInfo" placeholder="Enter extra information"></textarea>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-raised-button type="submit" color="primary">Add Car</button>
    </div>
  </form>
</div>
