<div class="car-cards-container">
  <div *ngFor="let car of carData" class="car-card mat-elevation-z2"> <!-- Itera sobre todos los vehículos -->
    <div class="car-card-header">
      <img [src]="car.vehiclePicture" alt="{{ car.model }}">
      <div class="favorite">
        <button mat-icon-button color="warn" aria-label="Favorite icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
    <div class="car-card-body">
      <div class="car-info">
        <h3>{{ car.brand }} {{ car.model }}</h3>
        <div class="car-details">
          <span>👤 {{ car.seats }}</span>
          <span>⭐ {{ car.stars }}</span>
          <span>⚡ {{ car.features }}</span>
        </div>
        <div class="location">
          <span>📍 {{ car.address }}</span>
        </div>
        <div class="features">
          <span>⚡ {{ car.features }}</span>
        </div>
      </div>
      <div class="car-card-footer">
        <div class="price">
          <span>S/. {{ car.price }}</span> <small>Por día</small>
        </div>
        <button mat-raised-button color="primary">Ver oferta</button>
      </div>
    </div>
  </div>
</div>
