.car-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.car-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 750px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.car-card-header {
  position: relative;
  width: 200px;
  flex-shrink: 0;
}

.car-card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: red;
}

.car-card-body {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

.car-info {
  flex-grow: 1;
  padding-right: 16px;
}

.car-card-body h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.car-details {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.location {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.features {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features li {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.car-card-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  border-left: 1px solid #000;
  padding-left: 10px;
}

.price {
  font-size: 1.4em;
  color: #333;
}

.price small {
  display: block;
  font-size: 0.8em;
  color: #666;
}

.see-offer {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.see-offer:hover {
  background-color: #0056b3;
}
