.welcome-container {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
}

.logo-container {
  display: flex;
  align-items: center; /* Asegura que el logo y el texto estén alineados verticalmente */
}

.logo {
  height: 90px;
  margin-right: 10px;
}

.logo-title {
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.login-button {
  margin-left: auto;
}
button:hover {
  background-color: #1EA0FF;
  cursor: pointer;
}

.main-content {
  text-align: center;
  margin-top: 20px;
}

.cars-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.car-card {
  width: 220px; /* Ajusta el ancho según sea necesario */
  background-color: #ffffff; /* Fondo blanco para la tarjeta */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor de la tarjeta */
  border-radius: 8px; /* Bordes redondeados */
  text-align: center; /* Alineación del texto al centro */
  margin: 10px; /* Espaciado alrededor de la tarjeta */
}

.reasons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}

.reason-card {
  width: calc(25% - 20px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
}

mat-icon {
  color: #007BFF;
}
